doctype html

html 
  head 
    title Αυτή είναι η σελίδα τίτλου μου
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
  body 
    nav
      ul 
        li
          a(href="/english")
            img.flag(src="/images/flag-of-United-States-of-America.png"
                     alt="US Flag"
                     title="Go to the US English site")
        li
          a(href="/french")
            img.flag(src="/images/flag-of-France.png"
                     alt="Drapeau de la france"
                     title="Aller sur le site français")
        li 
          a(href="/serbian")
            img.flag(src="/images/flag-of-Serbia.png"
                     alt="Застава Србије"
                     title="Идите на српски сајт")
        li 
          a.current(href="/greek")
            img.flag(src="/images/flag-of-Greece.png"
                     alt="Σημαία της Ελλάδας"
                     title="Πηγαίνετε στον ελληνικό ιστότοπο")
  header 
    h1 Γεια σου κόσμε
  main 
    p Σύντομα θα γίνω μηχανικός λογισμικού!
    img(src="/images/earth.jpg" alt="Η Γη" title="Η Γη")
